@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

html,
body {
  padding: 0;
  margin: 0;
}

:root {
  --Verydarkblue: hsl(233, 47%, 7%);
  --Darkdesaturatedblue: hsl(244, 38%, 16%);
  --Softviolet: hsl(277, 64%, 61%);
  --White: hsl(0, 0%, 100%);
  --SlightlytransparentParag: hsla(0, 0%, 100%, 0.75);
  --SlightltransparentHead: hsla(0, 0%, 100%, 0.6);
}

* {
  box-sizing: border-box;
}

/** typography **/

body {
  font-size: 15px;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--White);
}

h1 span {
  color: var(--Softviolet);
}

p {
  font-size: 1rem;
  max-width: 78%;
  color: var(--SlightlytransparentParag);
  line-height: 1.5em;
  font-family: "Inter", sans-serif;
}

ul {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3em 0 0 0;
}

li {
  color: var(--White);
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 1.2em;
  margin-right: auto;
  margin: auto;
  list-style: none;
  display: inline-block;
  width: 32%;
}

li span {
  margin-top: 0;
  display: block;
  color: var(--SlightlytransparentParag);
  font-weight: normal;
  text-transform: uppercase;
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.9rem;
}

@media screen and (max-width: 600px) {
  h1 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    color: var(--White);
  }

  h1 span {
    color: var(--Softviolet);
  }

  p {
    font-size: .95rem;
    max-width: 100%;
    color: var(--SlightlytransparentParag);
    line-height: 1.5em;
    font-family: "Inter", sans-serif;
  }

  li {
    color: var(--White);
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.2em;
    width: 100%;
    margin-bottom: 1em;
  }

  li span {
    margin-top: 0;
    display: block;
    color: var(--SlightlytransparentParag);
    font-weight: normal;
    text-transform: uppercase;
    font-family: "Lexend Deca", sans-serif;
    font-size: 0.8rem;
  }
}

/** layout **/

html {
  background: var(--Verydarkblue);
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

main .container {
  display: flex;
  background: var(--Darkdesaturatedblue);
  width: 1200px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
}

main .container .col {
  width: 50%;
}

main .container .info-container {
  padding: 3em;
}

main .container picture {
  padding: 0;
  border-radius: 0 10px 10px 0;
  display: flex;
  background-color: rgb(142, 53, 194);
}

main .container .col img {
  width: 100%;
  max-width: 100%;
  margin: 0;
  border-radius: inherit;
  opacity: 0.8;
  mix-blend-mode: multiply;
}

main .container .bottom-text-container {
  display: flex;
  width: 100%;
  padding: 1em 0;
}

@media screen and (min-width: 200px) and (max-width: 600px) {
  body {
    display: flex;
    min-height: 100vh;
    padding: 1em;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  main .container {
    display: flex;
    flex-direction: column-reverse;
    background: var(--Darkdesaturatedblue);
    width: 95%;
    max-width: 340px;
    border-radius: 10px;
    margin: 0 auto;
  }

  main .container .col {
    width: 100%;
  }

  main .container .info-container {
    padding: 1em;
    text-align: center;
  }

  main .container picture {
    padding: 0;
    border-radius: 10px 10px 0 0;
    display: flex;
    background-color: rgb(142, 53, 194);
  }

  main .container .col img {
    width: 100%;
    max-width: 100%;
    margin: 0;
    border-radius: inherit;
    opacity: 0.8;
    mix-blend-mode: multiply;
  }

  main .container ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 100%;
    text-align: center;
    justify-content: space-around;
    padding: 2em 0 0 0;
  }
}
